<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coduolingo">

    <application
        android:name=".Firebasedata"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/title_activity_courses_screen"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".iframe2"
            android:label="@string/title_activity_iframe2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".iframe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PasswordReset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_lesson"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FreeText"
            android:label="@string/title_activity_free_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NonFreedum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExplainationQS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".freedumQs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tree"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".usernameloginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sign_upActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainScreen"
            android:theme="@style/AppTheme.NoActionBar"> <!-- This is the default activity! -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission. ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>